extends ../layouts/default

block content
	.jumbotron: .container: .row: .col-xs-12
		h1 Welcome to BitLeague
		p Derp derp best bitcoin sandbox
		p
			button(type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal") Learn More
	.container: .row 
		.col-xs-12.col-sm-6
			h2 A gentle introduction to Bitcoin
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Testing slack integrations
		.col-xs-12.col-sm-6
			figure
				img(class="img-responsive" src="http://static5.businessinsider.com/image/575e6969dd0895ed1d8b4598-1400/coindesk-bpi-chart%20(3).png")
				figcaption: p Oh hey, some graph or bitcoiny image
	div.bl-how-it-works: .container: .row
		.col-xs-12
			h2 Some Columns about how it works or something
		.col-xs-12.col-sm-4
			img(class="img-responsive" src="http://placekitten.com/g/300/200" style="width: 100%")
			h3 How It Works
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			p
				a(tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?") Click to toggle popover
		.col-xs-12.col-sm-4
			img(class="img-responsive" src="http://placekitten.com/g/300/200" style="width: 100%")
			h3 How It Works
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		.col-xs-12.col-sm-4
			img(class="img-responsive" src="http://placekitten.com/g/300/200" style="width: 100%")
			h3 Here's a responsive data-driven chart
			<canvas id="myChart" width="400" height="400"></canvas>

	div(class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
		div(class="modal-dialog" role="document")
			div(class="modal-content")
				div(class="modal-header")
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					h4(class="modal-title" id="myModalLabel") Modal title
				div(class="modal-body") Spicy jalapeno bacon ipsum dolor amet short ribs bacon anim ribeye cow burgdoggen swine magna ham jowl. Sausage duis proident, ground round occaecat short ribs nulla. Ut voluptate ea strip steak in turkey, anim sint ipsum cupidatat. Voluptate pig labore consectetur sint. Biltong flank turkey, lorem excepteur id t-bone shoulder tri-tip ipsum in laborum prosciutto. Cupim sunt ipsum jowl sint lorem nulla eiusmod short ribs.
				div(class="modal-footer")
					button(type="button" class="btn btn-default" data-dismiss="modal") Close
					button(type="button" class="btn btn-primary" data-dismiss="modal") Save changes