<div class="bl-full-page-bg bl-bg-registration">
    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="margin: 0 auto; float: none; text-align: center;">
                <form class="bl-form bl-form--floating">
                    <h2 class="bl-form__header">Create an account</h2>
                    <span class="bl-input-container">
                        <input class="bl-text-input" type="text" id="name" name="name" ng-model="data.name" ng-class="{'not-empty': data.name.length > 0}">
                        <label class="bl-form-label" for="name">Full Name</label>
                    </span>
                    <span class="bl-input-container">
                        <input class="bl-text-input" type="text" id="email" name="email" ng-model="data.email" ng-class="{'not-empty': data.email.length > 0}">
                        <label class="bl-form-label" for="email">Email</label>
                    </span>
                    <span class="bl-input-container">
                        <input class="bl-text-input" type="text" id="username" name="username" ng-model="data.user" ng-class="{'not-empty': data.user.length > 0}">
                        <label class="bl-form-label" for="username">Username</label>
                    </span>
                    <span class="bl-input-container">
                        <input class="bl-text-input" type="password" id="password" name="password" ng-model="data.password" ng-class="{'not-empty': data.password.length > 0}">
                        <label class="bl-form-label" for="password">Password</label>
                    </span>
                    <input type="submit" name="" value="Sign Up" class="bl-btn" ng-click="submit()">
                    <div ng-if="errorMessage">{{ errorMessage }}</div>
                </form>
            </div>
        </div>
    </div>
</div>
