<div class="jumbotron" style="margin-bottom: 0;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center" style="padding-bottom: 20px;">Learn to trade with bitcoin, for free</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-center" style="padding: 20px 0;">
                <img class="img-responsive" src="/public/images/selling-bitcoins.png" style="max-width: 300px; margin: 0 auto;">
            </div>
            <div class="col-sm-6">
                <form class="bl-form">
                    <span class="bl-input-container">
                        <input class="bl-text-input" type="text" id="name" name="name" ng-model="data.name" ng-class="{'not-empty': data.name.length > 0}">
                        <label class="bl-form-label" for="name">Full Name</label>
                    </span>
                    <span class="bl-input-container">
                        <input class="bl-text-input" type="text" id="email" name="email" ng-model="data.email" ng-class="{'not-empty': data.email.length > 0}">
                        <label class="bl-form-label" for="email">Email</label>
                    </span>
                    <span class="bl-input-container">
                        <input class="bl-text-input" type="text" id="username" name="username" ng-model="data.user" ng-class="{'not-empty': data.user.length > 0}">
                        <label class="bl-form-label" for="username">Username</label>
                    </span>
                    <span class="bl-input-container">
                        <input class="bl-text-input" type="password" id="password" name="password" ng-model="data.password" ng-class="{'not-empty': data.password.length > 0}">
                        <label class="bl-form-label" for="password">Password</label>
                    </span>
                    <input type="submit" name="" value="Sign Up" class="bl-btn" ng-click="submit()">
                    <div ng-if="errorMessage">{{ errorMessage }}</div>
                </form>
            </div>
        </div>
    </div>
</div>
<div style="background: #00a2dd; color: white; padding: 48px 10px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Why Bitcoin?</h1>
            </div>
        </div>
    </div>
</div>
<div style="padding: 48px 10px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center">
                <img style="max-width: 96px; padding-bottom: 10px" src="/public/images/bitcoin.png">
                <p>
                    Since 2009, Bitcoin, a decentralized digital currency, has been used increasingly over the world.
                </p>
            </div>
            <div class="col-sm-4 text-center">
                <img style="max-width: 96px; padding-bottom: 10px" src="/public/images/worldwide.png">
                <p>
                    It’s fast, easy to use, with minimal fees. Pay with ease knowing you are safe with user anonymity.
                </p>
            </div>
            <div class="col-sm-4 text-center">
                <img style="max-width: 96px; padding-bottom: 10px" src="/public/images/wallet.png">
                <p>
                    Pay with paper or digital wallet. For now, you can practice with our free wallet!
                </p>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe title="YouTube video player" class="embed-responsive-item" type="text/html" width="640" height="390" src="https://www.youtube.com/embed/k0HmrSfJwhU" frameborder="0" allowFullScreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
